<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Describe My Playlist</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/styles/recents.css">
    <script defer src="/static/js/header.js"></script>
    <script defer src="/static/js/recents.js"></script>

</head>
<body>
    <header class="header">
        <div id="popularity_button" class="header_button">Popularity</div>
        <div id="artist_button" class="header_button">Artist</div>
        <div id="emotion_button" class="header_button">Emotion</div>
        <div id="musical_element_button" class="header_button">Musical Elements</div>
        <div id="genre_button" class="header_button">Genre</div>
        <div id="recents_buttons" class="header_button"><b>Your recents</b></div>
 
    </header>
<div class="main_content">

    <h1 class="top_artist_title">Top artists:</h1>
    <h1 class="top_tracks_title">Top tracks:</h1>
    
    <div id="time_range_buttons_container" >
        <button class="time_range_button" id="long_term_button">All Time</button>
        <br>
        <button class="time_range_button" id="mid_term_button">Last 6 Months</button>
        <br>
        <button class="time_range_button" id="short_term_button">Last Month</button>
    </div>
    
    <div id="artists" class="artists_container">
    </div>
    <div id="tracks" class="tracks_container">
    </div>


    <audio id="background_music" autoplay=true>
        <source id="background_music_src">
    </audio>

  
    
</div> 

   
    
</body>
</html>