@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --main_bgd-color:#191414;
    --main-text-color:#FFFFFF;
    --header-color:#2F2C2C;
}

html, body{
    background-color: var(--main_bgd-color);
    color: var(--main-text-color);
    overflow: hidden;
    font-family: "Inter", sans-serif;
    height: 100%;
}

.main_content{
    overflow: auto;
}
a{
    color:white;
    text-decoration: none;
}
.header{
    font-size: 30px;
    background: rgb(47,44,44);
    background: linear-gradient(47deg, rgba(47,44,44,1) 69%, rgba(0,0,0,1) 100%); 
    filter: drop-shadow(5px 5px 10px #000000);
    display: flex;
    align-items: center;
    border-radius: 5%;
    justify-content: left;

    
    height: 8vh;
    width:  100%;
    min-width: auto;
}


.floating_svg{
    float:right;
}

#floating_svg_tag{
    margin-top: 0%;
    margin-left: 40%;
    z-index: 0;
}

.header_button{
    cursor: pointer;
    margin-left: 8%;
}


.artist_name{
    font-size: 3rem;
    float:right;
}

.artist_image{
    max-height: 120px;
    width: auto;
}
.artist{
    margin-bottom: 10px;
}

.artists_container{
    overflow-y: scroll; 
    max-height: 70vh;
    width: 40%;
    float:left;
    margin-top: 5%;
    margin-left: 10%;
}
.top_artist_title{
    margin-left: 15%;
    font-size: 50px;
}


.tracks_container{
    overflow-y: scroll; 
    max-height: 70vh;
    width: 40%;
    margin-top: 5%;
    
    background: none;

    float:right;
    margin-right: 7%;

}

.top_tracks_title{
    font-size: 50px;
    float:right;
    margin-top: -5%;
    margin-right: 25%;
}

.track{
    background: none;
    cursor: pointer;
    font-size: 2rem;
    height: 120px;
}

span{
    color: #1DB954;
}

.time_range_button{
    margin-bottom: 20%;
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    

}
.time_range_button:hover{
    color: #fff;
    background-color: #616467;
}

#time_range_buttons_container{
    position: absolute;
    float:left;
    top:50%;
}